<mat-card *ngFor="let event of events" class="card">
    <mat-card-content>
        <mat-grid-list cols="5" rowHeight="50px">
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <span class="text">
                {{event.eventday}} {{event.eventdate}}
              </span>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <span class="text bold">
                {{event.name}}
              </span>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <span class="text">
                {{event.eventtime}}
              </span>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
              <span class="text">
                  {{event.bookings}}/{{event.maxbookings}}
              </span>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1">
               <app-booking-button [event]="event" [bookings]="bookings" [userid]="userid"></app-booking-button>
            </mat-grid-tile>
        </mat-grid-list>
    </mat-card-content>
</mat-card>