<div class="header">
<mat-grid-list cols="3" rows=1 rowHeight="50px">
    <mat-grid-tile [colspan]="1" [rowspan]="1">
      <span class="left_position">
      <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>reorder</mat-icon></button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
      <span class="right_position">
        Hej Simon!
      </span>
      </span>
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
        <span class="week_align">
          <div>
              <button mat-button><<</button>
              vecka 20
              <button mat-button>>></button>
            </div>
        </span>
      </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="1">
        
          <div class="icon_align">
            <img class="img_size" src="assets/fk_bild.jpeg">
            </div>
        
      </mat-grid-tile>
</mat-grid-list>
</div>

<mat-divider></mat-divider>
<app-bokare></app-bokare>